/* Universal Selector */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
  background-color: #fff;
  font-family: "Courier New", Courier, monospace;
}

.contact-format {
  display: flex;
  margin-left: 6.5%;
  height: 200px;
  width: 200px;
}
