/* Universal Selector */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
  background-color: #fff;
  font-family: "Courier New", Courier, monospace;
}

footer p {
  font-size: 15px;
  position: relative;
  height: 34px;
  color: #fff;
  background-color: black;

  clear: both;
  text-align: center;
}
