/* Universal Selector */
/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
} */

.container {
  width: 600px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  flex-flow: column wrap;
}

.container a:hover {
  cursor: pointer;
}

.project-img {
  max-height: 100%;
  max-width: 90%;
  border-radius: 20px;
  margin: auto;
  box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.281);
}

.title-repo {
  display: flex;
}

.h2-project {
  margin-left: 20px;
}

.repo-btn {
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  text-align: center;
  text-justify: auto;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 0 2px 4px;
  cursor: pointer;
  width: 80px;
  text-indent: 0px;
}

.repo-btn:hover {
  opacity: 0.6;
}

.Proj-props {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
